@import url(https://fonts.googleapis.com/css?family=Raleway:200);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);

html, body {
	height: 100%;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}

#irc-app {
	height: 100%;
}

#app-wrapper {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 100%;
}

a {
	text-decoration: inherit;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.icon {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.list
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.warning-banner {
	background: #22313f;
	color: white;
	text-align: center;
	padding: 10px;
}

.chat-section {
	flex: 2 1 auto;

	display: flex;
	flex-direction: column;
}

.chat-section > header {
	box-shadow: 0px 4px 2px -2px gray;
	padding: 5px;
	padding-left: 10px;
}

.active-thread-name-header {
	font-family: 'Raleway', sans-serif;
}

.prompt-bar {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding-left: 10px;
}

.prompt-bar > form {
	flex: 1;

	display: flex;
	flex-direction: row;
}

.prompt {
	flex: 1;

	margin: 5px;
	padding: 0.5em;

	font-size: inherit;
}

.message-list {
	/* flex-basis of 0 vs auto seems to fix the chrome bug where
	 * the message composer was overflowing the message section.
	 * see: https://github.com/angular/material/issues/6841
	 */
	flex: 1 1 0;

	overflow-y: auto;
	padding: 10px;

	/* Ensure long words (e.g URLs) still wrap */
	word-wrap: break-word;
}

.message-list-item {
	display: flex;
	flex-direction: row;

	margin: 0 5px 15px 5px;
}

.message-type-message .message-body {
	/* Align bubble to the left and fit content */
	align-self: flex-start;

	/* Show message body as chat bubble */
	border-radius: 10px;
	border-top-left-radius: 0;
	padding: 5px;
	margin-right: 1em;
}

.message-list-item > .message-author {
	/* Prevent nickname from being squished when
	 * the message is too long
	 */
	flex: 0 0 auto;

	/* Whitespace between nickname and message body */
	margin-right: 1em;
}

.message-type-action > .message-author::before {
	content: " * ";
}

.message-type-action .message-body {
	font-style: italic;
}

.message-list-item > .message-timestamp {
	flex: 1;
	text-align: right;

	color: #95a5a6;
}

.active-thread-name-header {
	font-size: larger
}

.nick-list-section,
.thread-list-section
{
	flex: 0 1 10em;

	margin: 0px;
	padding: 10px;

	display: flex;
	flex-direction: column;

	overflow-y: auto;
	overflow-x: hidden;

	user-select: none;
}

.nick-list-section
{
	padding-right: 0px;
	border-left: 1px solid #dadfe1;
}

.thread-list-section
{
	min-width: 12em; /* would rather use flex-basis, but had problems */
	padding-left: 0px;

	color: #ecf0f1;
	background: #2c3e50;
}

.nick-list-header,
.thread-list-header
{
	font-size: smaller;
	padding: 5px;
	padding-left: 10px;
	margin: 0px;
	text-transform: uppercase;
}

.thread-list-header:not(:first-child) {
	margin-top: 20px;
}

.thread-list-header {
	display: flex;
}

.thread-add-button {
	border:      none;
	padding:     0px;

	background:  inherit;
	margin-left: auto;
}

a.thread-add-button:hover {
	text-decoration: none;
}

.thread-form-new-thread {
	margin:       10px;
	margin-right: 0;

	display:      flex;
}

.thread-form-new-thread > input {
	flex:      1;
	min-width: 0; /* otherwise overflows sidebar */

	padding:   10px;
	border:    0px;
	margin:    0px;
}

.thread-add-button > .icon {
	color: #ecf0f1;
}

.nick-list-item {
	padding-left: 10px;

	cursor: pointer;
}

.thread-list-item {
	display: flex;
	flex-direction: row;

	padding: 5px;
	padding-left: 10px;

	cursor: pointer;
}

.thread-enter {
	transform: translateX(-100%);
}

.thread-enter.thread-enter-active {
	transform: translateX(0%);
	transition: transform 300ms ease-out;
}

.thread-leave {
	transform: translateX(0%);
}

.thread-leave.thread-leave-active {
	transform: translateX(-100%);
	transition: transform 300ms ease-out;
}

.page-enter {
	opacity: 0.01;
}

.page-enter.page-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.page-leave {
	opacity: 1;
}

.page-leave.page-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-out;
}

.thread-list-item.active {
	background: #3498db;
}

.thread-name {
	margin-right: 30px;
}

.thread-unseen-count {
	margin-left: auto;

	border-radius: 25px;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;

	font-size: smaller;
	background: #3498db;
}


/********/
/* Menu */
/********/
.menu-wrapper {
	position: relative;
	display: inline-block;
}

.menu-button {
	border: none;
	background: inherit;
	padding: 1px;
}

.menu-button > .icon {
	color: #95a5a6;
}

.menu {
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	min-width: 150px;
	margin: 0px;
	padding: 10px 0 10px 0;

	list-style: none;

	background: white;
}

.menu-item {
	padding: 0 10px 0 10px;

	font-size: small;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;

	cursor: pointer;
}

.menu-item:hover {
	background: #3498db;
	color: white;
}

.menu-show {
	display: block;
}


/*****************/
/* Welcome Panel */
/*****************/

#welcome-panel {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#welcome-form {
	display: flex;
	flex-direction: column;
}

#welcome-panel > header {
	margin-bottom: 20px;
}

#welcome-panel > header > h2 {
	text-align: center;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	color: #8e44ad;
}

#welcome-form input {
	padding: 5px;
	margin: 5px 0 5px 0;
	font-size: inherit;
}

#welcome-form input[type="text"] {
	margin-bottom: 1em;
}

/* FIXME: if I'm being perfectly honest, I just pulled 800px out of thin air */
@media (max-width: 800px) {
	#app-wrapper {
		flex-direction: column;
	}
	.nick-list-section,
	.thread-list-section
	{
		flex-direction: row;
		flex: 0 1 auto;
		padding: 0 0 5px 0;
	}
	/**
	 * Convert thread list to a row of tabs
	 */
	/* FIXME: width of thread-list-item changes when the
	 *        unseen count badge is shown, causing the tabs
	 *        to move around when an item is clicked.
	 */
	.thread-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	/**
	 * Hide channel title
	 *
	 * The selected channel name is already shown in the
	 * thread list and we want to conserve space on mobile.
	 */
	/* FIXME: this hides the close channel menu */
	/* FIXME: when there is no topic (e.g private messages), the header
	 *        is just a white strip with some shadow and looks bad.
	 */
	.active-thread-name-header {
		display: none;
	}
	/**
	 * Hide channel and private message headers
	 *
	 * These are used as separators in the desktop view, but
	 * don't fit with the tab view we are using on mobile.
	 *
	 * TODO: try adding '#' and person icons in place
	 * of the headers.
	 *
	 * FIXME: hides add new thread buttons
	 */
	.thread-list-header {
		display: none;
	}
	/* Hide nick list */
	.nick-list-section {
		display: none;
	}



	/*
	 * Message List
	 */

	.message-type-message {
		/* Place header (contains author) above message body */
		flex-direction: column;
	}

	.message-type-message > .message-timestamp {
		/* Hide footer (contains timestamp) */
		display: none;
	}

	.message-prefix {
		/* Hide details from join and part messages */
		display: none;
	}
}
